h1{
    padding-top: 1em;
    padding-bottom: 0.2em;
}
h3{
    margin: 0;
}
.page{
    min-height: 100vh;
    background-color: #5F6942;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    border-radius: 30px;
    gap: 1.5em;
}
.column-flex{
    display: flex;
    flex-direction: column;
    text-align: center;
}
body {
    margin: 0px;
    font-family: 'Prompt', sans-serif;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
.form-control-new{
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: var(--bs-form-control-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 20em;
    background-color: #f6f6f6;
    text-align: center;
}
.page .container ้h3{
    font-size: 0.2rem!important;
}
@media (max-width:400px){
    h1{
        font-size: 7vmin;
    }
    h2{
        font-size: 5vmin;
    }
    h4{
        font-size: 4.5vmin;
    }
    h5{
        font-size: 4vmin;
    }
    .form-control-new{
        width: 80vw;
    }
}
