
body {
    margin: 0px;
    font-family: 'Prompt', sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

.navbar {
    padding: 2em 5em 2em 5em;
    font-weight: 500;
    font-size: 1.2em;
    justify-content: flex-end;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 3em;
}

.navbar-links li {
    list-style: none;
}

.toggle-button {
    position: absolute;
    top: 1.75rem;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page-1 {
    background-color: #888F70;
    background-position: center;
    background-size: cover;

}

.page-1 .container {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.page-1 .container h1 {
    font-size: 3.5rem;
    margin: 0;
    margin-bottom: 0.4em;
}

.page-1 .container h2 {
    font-size: 1.3rem;
    margin: 0;
    color: #e8e6e6;
    margin-bottom: 0.3em;
}
.page-1 .container #head{
    font-size: 1.4rem;
}
.page-1 img{
    width: 100%;
    object-fit: contain;
}

.page-1 h4{
    font-size: 1.1em;
    margin-top: 1em;
}
.page-1 h5{
    font-size: 0.9em;
    margin-top: 0.3em;
    color: #b6bbbd;
}
.flex-column1{
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    gap: 6em
    
}
.flex-row1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 30vw;
    gap: 1em;
    padding-bottom: 2em;
}
.flex-row2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5em;
}
iframe{
    height: 30vmin;
    width: 35vw;
}
@media (max-width: 680px) {
    .page{
        height: auto;
    }
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: 0.5rem 1rem;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        background-color: rgb(0,0,0,0.2);
    }

    .navbar-links.active {
        display: flex;
    }
    h1{
        margin-top: 1em!important;
        font-size: 13vmin!important;
    }
    h2{
        font-size: 4vmin!important;
    }
    .flex-column1{
        gap: 2em
        
    }
    .flex-column1{
        flex-direction: column;
    }
    iframe{
        height: 50vmin;
        width: 90vw;
    }
    .flex-row1{
        max-width: 80vw;
    }
}