body {
    margin: 0px;
    font-family: 'Prompt', sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

.navbar {
    padding: 2em 5em 2em 5em;
    font-weight: 500;
    font-size: 1.2em;
    justify-content: flex-end;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 3em;
}

.navbar-links li {
    list-style: none;
}

.toggle-button {
    position: absolute;
    top: 1.75rem;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.page-1 {
    background-color: #a4b4bf;
    background-image: url(./img/page1.jpg);
    background-position: center;
    background-size: cover;
}

.page-1 .container {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.page-1 .container h1 {
    font-size: 5rem;
    margin: 0;
    letter-spacing: 0.1em;
}

.page-1 .container h2 {
    font-size: 1.5rem;
    margin: 0;
    color: #e8e6e6;
    margin-bottom: 1em;
}

.page-1 .container button {
    font-size: 1em;
    width: 13em;
    height: 3.5em;
    border: 0px;
    border-radius: 30px;
    background-color: #9FAF83;
    color: white;
}
.page-2  {
    background-color: #5F6942;
}
.page-2 .container {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
.page-2 .container h2{
    font-size: 5rem;
    margin: 0;
}
.page-2 .container p{
    font-size: 1.3rem;
    font-weight: 400;
    margin: 0;
    margin-top: 1em;
}
.page-3  {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F5F5EF;
}
.page-3 .container {
    position: relative;
    display: flex;
    flex-direction: row;
    text-align: center;
    color: #5F6942;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    z-index: 3;
}
.page-3 .container h2{
    font-size: 5rem;
    margin: 0;
}
.page-3 .container p{
    font-size: 1.3rem;
    font-weight: 400;
    margin: 0;
    margin-top: 1em;
}
.page-3 #carouselExampleFade{
    height: 75%;
    overflow: hidden;
    object-fit: contain;
}
.page-3 #carouselExampleFade img{
    height: 100%;
    width: 100%;
}
.page-3 .width{
    width: 33%;
}
.page-4 .container {
    position: relative;
    display: flex;
    flex-direction: row;
    text-align: center;
    color: #5F6942;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
.page-4 .container h2{
    font-size: 4rem;
    margin: 0;
}
.page-4 .container h3{
    font-size: 2.5rem;
    margin: 0;
}
.page-5{
    background-color: #5F6942;
    height: 100vh;
}
.page-5 .container {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fffffe;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
.page-5 .container h2{
    font-size: 3.5rem;
    margin: 0;
}
.page-5 .container h3{
    font-size: 2.5rem;
    margin: 0;
}
.page-5 .column {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.page-5 .row {
    justify-content: center;
    text-align: center;
    max-width: 300px;
}
.page-5 img {
   height: 150px;
   width: auto;
   margin-top: 3em;
   margin-bottom: 2em;
}
.page-5 button {
    margin-top: 3em;
    margin-bottom: 2em;
    width: 30vmin;
    height: 8vmin;
    background-color: #5F6942;
    color: white;
    border: solid 2px white;
    border-radius: 30px;
 }
@media (max-width: 680px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: 0.5rem 1rem;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        background-color: rgb(0,0,0,0.2);
    }

    .navbar-links.active {
        display: flex;
    }
}
@media (max-width: 768px) {
    .page-3 .container {
        flex-direction: column;
        margin-top: 3em;
        margin-bottom: 3em;
    }
    .page-3 .width{
        min-width: 50vw;
        max-height: 500px;
        margin-bottom: 2em;
    }
    .page-5 {
        padding-top: 5em;
        padding-bottom: 4em;
        height: auto;
        display: flex;
    }
    .page-5 .column{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .page-5 .container h2{
        font-size: 5vmin;
        margin: 0;
    }
    .page-5 button{
        font-size: 3vmin;
        width: 40vmin;
        height: 10vmin;
    }
}
@media (max-width: 800px) {
    .page-1 .container h1 {
        font-size: 11vmin;
    }
    .page-1 .container h2 {
        font-size: 4vmin;
    }
    .page-2 .container h2 {
        font-size: 11vmin;
    }
    .page-2 .container p {
        font-size: 2.5vmin;
    }
    
    
}
@media (max-width: 1030px) {
    .page-3 .container h2 {
        font-size: 11vmin;
    }
    .page-3 .container p {
        font-size: 2.5vmin;
    }
    .page-4 .container {
        flex-direction: column;
    }
    .page-4 .container h2{
        font-size: 11vmin;
        margin: 0;
    }
    .page-4 .container h3{
        font-size: 5vmin;
        margin: 0;
    }
    .page-4 .container img{
        height: 50vmin;
    }
}