<html lang="th">
    <head>
        <title>สวนเกษตรโอชา​ - Ochagarden</title>
        <link rel="icon" href="./img/logo.png" type="image/png" />
        <meta charset="UTF-8">
        <meta name="description" content="มีเมล็ดพันธุ์ kd KT ใบกัญชาแห้งรากกัญชาและดอกกัญชา​ ทั้งหมดปลูกด้วยวิธีการออแกนิคไม่ใช้ยาฆ่าแมลง​ ผลิตภัณฑ์ที่ได้จึง​เป็นผลิตภัณฑ์ออแกนิคสะอาดปลอดภัย">
        <meta name="keywords" content="เมล็ดพันธุ์ kd KT, กัญชา, สวนเกษตรโอชา​, O-cha garden">
        <meta name="author" content="Ochagarden">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/61cdc50539.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="./certificate.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@400;500&display=swap" rel="stylesheet">
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    </head>

    <body>
        <div class="page page-1">
            <nav class="navbar">
                <a href="#" class="toggle-button">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </a>
                <div class="navbar-links">
                    <ul>
                        <li><a href="/">หน้าหลัก</a></li>
                        <li><a href="./products">สินค้าของเรา</a></li>
                        <li><a href="./contact">ติดต่อ</a></li>
                        <li><a href="./certificate">ใบอนุญาต</a></li>
                    </ul>
                </div>
            </nav>
            <div class="container" data-aos="fade-in" data-aos-duration="1000">
                <h1 data-aos="fade-in">ใบอนุญาติ</h1>
                <h2 data-aos="fade-in">ร้านค้าของเราได้ทำการจดทะเบียนอย่างถูกต้องกับ<br>
                กระทรวงสาธารณสุข กับ กระทรวงพาณิชย์</h2>
                <div class="flex-column1" data-aos="fade-in" data-aos-duration="2000">
                    <div class="flex-row1">
                        <img src="./img/certificate_1.jpg" alt="...">
                        <a href="https://www.facebook.com/profile.php?id=100089321505430">กระทรวงสาธารณสุข</a>
                    </div>

                    <div class="flex-row1">
                        <img src="./img/certificate_2.jpg" alt="...">
                        <a href="tel:084-657-5557">กระทรวงพาณิชย์</a>
                    </div>
                </div>
    
            </div>
        </div>
        <script src="./main.js"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>AOS.init();</script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    </body>
</html>