<html lang="th">
    <head>
        <title>สวนเกษตรโอชา​ - Ochagarden</title>
        <meta charset="UTF-8">
        <link rel="icon" href="./img/logo.png" type="image/png" />
        <meta name="description" content="มีเมล็ดพันธุ์ kd KT ใบกัญชาแห้งรากกัญชาและดอกกัญชา​ ทั้งหมดปลูกด้วยวิธีการออแกนิคไม่ใช้ยาฆ่าแมลง​ ผลิตภัณฑ์ที่ได้จึง​เป็นผลิตภัณฑ์ออแกนิคสะอาดปลอดภัย">
        <meta name="keywords" content="เมล็ดพันธุ์ kd KT, กัญชา, สวนเกษตรโอชา​, O-cha garden">
        <meta name="author" content="Ochagarden">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="./products_display.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@400;500&display=swap" rel="stylesheet">
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    </head>
    <body>
        <div class="page page-1">
            <nav class="navbar">
                <a href="#" class="toggle-button">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </a>
                <div class="navbar-links">
                    <ul>
                        <li><a href="/">หน้าหลัก</a></li>
                        <li><a href="./products">สินค้าของเรา</a></li>
                        <li><a href="./contact">ติดต่อ</a></li>
                    </ul>
                </div>
            </nav>
            <div class="main-container w-100">
                <div class="col">
                    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active" data-bs-interval="10000">
                            <img src="./img/products/product_1/img1.jpg" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item" data-bs-interval="2000">
                            <img src="./img/products/product_1/img2.jpg" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="./img/products/product_1/img3.jpg" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="./img/products/product_1/img4.jpg" class="d-block w-100" alt="...">
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                </div>
                <div class="col">
                    <h1>เมล็ดกัญชา<br>
                        สายพันธุ์ KD KT</h1>
                    <h3>แม่พันธุ์รุ่น F7 จากนักพัฒนาพันธุ์สวนลุงกร<br>
                        นราธิวาสให้เนื้อเยอะดอกฟูเป็ดเขียวเป็ดม่วง<br>
                        จบงานเร็วภายใน 4 เดือนราคาเกษตรกร<br>
                        ราคาชุดทดลองปลูกเม็ดละ 4.50 บาท</h3>
                    <div class='column-custom'>
                        <a href='#' data-bs-toggle="modal" data-bs-target="#exampleModal">วิธีชำระเงิน</a>
                        <a href='https://line.me/ti/p/2Ff62jgoWN' class="btn btn-success">สั่งซื้อสินค้า</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">ชำระเงิน</h1>
                </div>
                <div class="modal-body">
                    <p>Click “สั่งซื้อสินค้า”<br>
                    เพื่อ ADD LINE สั่งซื้อและชำระเงิน<br>
                    พร้อมชื่อที่อยู่เบอร์โทร​ศัพท์</p>
                    
                    <p>โอนเงิน ธนาคารไทยพาณิชย์<br>
                    เลขที่บัญชี 298-209-5393<br>
                    ชื่อบัญชี : นายกริชชัย​ สุขธรรม</p>
                    
                    <p>Order ก่อน 14:00 น ส่งในวันที่คอนเฟิร์มออเดอร์<br>
                    ค่าส่ง 35 บาท/ออเดอร์</p> 
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        <script src="./main.js"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>AOS.init();</script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    </body>
</html>