<html lang="th">

<head>
    <title>สวนเกษตรโอชา​ - Ochagarden</title>
    <meta charset="UTF-8">
    <link rel="icon" href="./img/logo.png" type="image/png" />
    <meta name="description"
        content="มีเมล็ดพันธุ์ kd KT ใบกัญชาแห้งรากกัญชาและดอกกัญชา​ ทั้งหมดปลูกด้วยวิธีการออแกนิคจึง​เป็นผลิตภัณฑ์สะอาดปลอดภัย">
    <meta name="keywords" content="เมล็ดพันธุ์ kd KT, กัญชา, สวนเกษตรโอชา​, O-cha garden">
    <meta name="author" content="Ochagarden">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="./products.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body>
    <div class="page page-1">
        <nav class="navbar">
            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <div class="navbar-links">
                <ul>
                    <li><a href="/">หน้าหลัก</a></li>
                    <li><a href="./products">สินค้าของเรา</a></li>
                    <li><a href="./contact">ติดต่อ</a></li>
                </ul>
            </div>
        </nav>
        <div class="main-container w-100">
            <h1 data-aos="fade-in">สินค้าของเรา</h1>
            <h2 data-aos="fade-in" data-aos-duration="1500">ผลิตภัณฑ์ของเรามี 3 อย่าง คือเมล็ดพันธุ์เคดีเคที
                ช่อดอกกัญชาorganicแห้ง<br>
                และใบชาจากใบกัญชา พร้อมโปรโมชั่นพิเศษ โปรเปิดตัวสวนสู่โลก</h2>
            <div class="d-flex flex-row-1 justify-content-around w-100" data-aos="fade-in" data-aos-duration="3000">
                <a href="./products/seed" class="row">

                    <img src="./img/products/product1.jpg">
                    <h4>เมล็ดกัญชาสายพันธุ์ KD KT</h4>
                    <h5>แม่พันธุ์รุ่นf7จากนักพัฒนา<br>
                        พันธุ์สวนลุงกรนราธิวาสให้<br>
                        เนื้อเยอะดอกฟูเป็ดเขียวเป็ด<br>
                        ม่วงจบงานเร็วภายใน4เดือน<br>
                        ราคาเกษตรกรชุดทดลอปลูก<br>
                        เม็ดละ 4.50 บาท</h5>

                </a>
                <a href="./products/seed" class="row">
                    <img src="./img/products/product2.jpg">
                    <h4>ดอกกัญชาแห้ง<br>
                        พันธุ์เคดีเกาะเต่า​(kdkt)</h4>
                    <h5>ผลผลิตจากเมล็ดรุ่น F7 <br>
                        คละฟิโนไทป์ลูกค้าอาจจะได้เป็ด <br>
                        เขียวเป็ดม่วงหรือ KD KT <br>
                        ปนไปในชุดดอกใหญ่ใช้กลางวัน<br>
                        ดอกเล็กใช้กลางคืน</h5>
                </a>
                <a href="./products/seed" class="row">
                    <img src="./img/products/product3.jpg">
                    <h4>ใบและอะไหล่กัญชา</h4>
                    <h5>ที่สวนยังมีใบชาเป็นชาที่ทำจาก<br>
                        ใบทริม Sugarleaf<br>
                        ขายบรรจุซอง 12 ซอง 100 บาท<br>
                        และชิ้นส่วนอะไหล่กัญชาต้นราก<br>
                        ใบราคาจำหน่าพิเศษ</h5>
                </a>
            </div>
        </div>
    </div>
    <script src="./main.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>AOS.init();</script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>